*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

main{
  margin: 2.5rem;
}

.title{
    font-size: 1.7rem;
    font-weight: bolder;
}

.flex{
    display: flex;
    gap: 1.5rem;
}

#header{   
    border-bottom: 1px solid #000000;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    background-image: linear-gradient( to right, #018925 , #018247, #0a4ead, #013185 );
    justify-content: space-between;
    padding: 0.5rem 2.5rem ;
    
    align-items: center;
    justify-items: center;
    
  }

  img{
    width: 50rem;
    margin-top: 2rem;
  }

  #logo{
    width: 8rem;
    height: 3rem;
    position: relative;
    top: -8px;
    
  }


